* {
	box-sizing: border-box;
}

body {
	background-color: white;
	color: #fff;
	display: flex;
	font-family: 'Muli', sans-serif;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

p {
	margin: 5px 0;
}

h2 {
	margin: 10px 0 20px;
	text-align: center;
}

input[type=checkbox] {
	margin-right: 0;
}

.container {
	background-color: rgb(118, 11, 211);
	padding: 20px;
	width: 600px;
	max-width: 100%;
}

.result-container {
    word-wrap: fixed; 
    color: silver;
    text-shadow: 0 0 8px #000;
	background-color:rgb(255, 255, 255);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	font-size: 12px;
	letter-spacing: 1px;
	padding: 12px 10px;
	height: 80px;
    width: 100%;
}





.btn {
	border: none;
	color: #fff;
	font-size: 16px;
	padding: 8px 12px;
	background-color: crimson;
}

.btn-large {
	display: block;
	width: 100%;
}

.setting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
}